/* selector */
/* adalah pilihan untuk elemen/atribut */
/* . = class */
/* # = id */
/* h1 = elemen */

/* ul {
    list-style-type: none;
} */

/* .warna-baris {
    background-color: aquamarine;
    padding: 5px;
    margin-bottom: 5px;
} */


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.red {
    color: red;
}

#bold {
    font-weight: bold;
}

/* jika ingin menggabungkan elemen/atribut ke css yang sama tambah ',' */
h1,
p {
    text-align: left;
}

table .baris_tebal td {
    background-color: aqua;
}

table {
    border-collapse: collapse;
}

td {
    padding: 5px;
}

.baris_tebal {
    font-weight: 600;
}