/* selector */
/* adalah pilihan untuk elemen/atribut */
/* . = class */
/* # = id */
/* h1 = elemen */

/* ul {
    list-style-type: none;
} */


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.red {
    color: red;
}

#bold {
    font-weight: bold;
}

/* jika ingin menggabungkan elemen/atribut ke css yang sama tambah ',' */
h1,
p {
    text-align: left;
}

table .baris_tebal td {
    background-color: aqua;
}

table {
    border-collapse: collapse;
}

td {
    padding: 5px;
}

.baris_tebal {
    font-weight: 600;
}

img {
    margin-right: 5px;
    /* margin: 0 5px 0 0; */
}

/* disini animation dari keyframe */
/* img:hover {
    animation: muter 5s infinite;
} */

/* margin itu jarak ke luar antar elemen */
/* padding itu jarak di dalam elemen */
.warna-baris {
    background-color: aquamarine;
    padding: 5px;
    margin-bottom: 10px;
}

.test-hover:hover {
    background-color: red;
    font-size: 20px;
}

.form-input {
    margin-bottom: 10px;
}

.tombol-simpan {
    margin: 10px 0;
}

/* .huruf-besar {
    font-size: 20px;
} */

/* utk buat animasi, kemudian nama keyframe ini di panggil di selector css didalam property animation */
@keyframes muter {
    50% {
        transform: rotate(360deg);
    }
}