/* selector */
/* adalah pilihan untuk elemen/atribut */
/* . = class */
/* # = id */
/* h1 = elemen */

.red {
    color: red;
}

#bold {
    font-weight: bold;
}

/* jika ingin menggabungkan elemen/atribut ke css yang sama tambah ',' */
h1,
p {
    text-align: left;
}

table {
    border-collapse: collapse;
}

td {
    padding: 5px;
}

.baris_tebal {
    font-weight: 600;
}